 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>iOS Engineer with 18 years development experience. Since 2009 working with iOS, like in Grupo RBS, worked for 4 years as responsible for creating and coordinating the RBS' mobile team. With more than 15 apps in App Store from different companies, strong knowledge on Swift and Objective-C.</p>
                </div>
                <div class="col-lg-4">
                    <p>Strong experience on Xcode Server with Code Coverage and Continuous Integration.
Experience as backend developer using .Net and SQL Server. Experience on apps analytics. Degree in System Analysis and Development.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
